/**

	BLOG BOX

---------------*/

.blog-posts {
	margin: 0.5em -0.5em;
}

.blog-box {
	padding: 0.5em;
}

.blog-box-link {
	background: #FFF;
	border: 1px solid #C8C8C8;
	display: block;
	text-decoration: none;
}

.blog-box-content {
	height: 170px;
	padding: 1.5em;
	position: relative;
	@include transition(0.3s ease-in-out);

	&:hover {
		@include box-shadow(3px 3px 6px #C8C8C8);
	}

	&:before {
		background: $font-colour;
		content: '';
		width: 5px;

		// Positioning
		position: absolute;
		bottom: -1px;
		left: -1px;
		top: -1px;
	}
}

.blog-box-content--css {

	&:hover {
		.blog-box__title {
			color: $css-colour;
		}
	}

	&:before {
		background: $css-colour;
	}

	.blog-box__post-cat {
		color: $css-colour;
		text-transform: uppercase;
	}
}

.blog-box-content--html {

	&:hover {
		.blog-box__title {
			color: $html-colour;
		}
	}

	&:before {
		background: $html-colour;
	}

	.blog-box__post-cat {
		color: $html-colour;
		text-transform: uppercase;
	}
}

.blog-box-content--jscript {

	&:hover {
		.blog-box__title {
			color: $javascript-colour;
		}
	}

	&:before {
		background: $javascript-colour;
	}

	.blog-box__post-cat {
		color: $javascript-colour;
	}
}

.blog-box__title {
	color: $font-colour;
	font-family: $title-font;
	font-size: 1.125em;
	font-weight: normal;
	letter-spacing: -0.01rem;
	margin: 0;
	text-align: left;

	@include transition(0.3s ease-in-out);
}

.blog-box__post {
	color: $font-colour;
	font-size: 0.875em;
	margin: 0;
	overflow: hidden;
	text-align: left;

	// Positioning
	position: absolute;
	bottom: 16px;
	left: 24px;
	right: 24px;
}

.blog-box__post-cat {
	float: right;
}

.blog-box__post-date {
	float: left;
}