@import "layout/structure";

.main-header {
	background: #000;
	background-attach: fixed;
	height: 320px;
	line-height: 320px;

	.container {
		display: inline-block;
		text-align: center;
		vertical-align: middle;
	}
}

.gravatar {
	border: 3px solid #FFF;
	display: block;
	margin: 0 auto 1em;
	max-width: 125px;
	width: 100%;

	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
			border-radius: 50%;
}