---
layout: home
title: Alex Shearcroft &mdash; Front&ndash;end web developer, Essex &mdash; HTML, CSS &amp; Javascript
page_title: home
description: Test
script: main
---
<header class="js-header header header--home">
        <!--<span class="gravatar">
            <img class="gravatar-img" src="http://www.gravatar.com/avatar/d732de22ca38317ae3246315d49b66f4?s=144">
        </span>-->
    <div class="header-content">
        <h1 class="js-header-title header__title header__title--alt">Alex Shearcroft <b>Front&ndash;End Web Developer</b></h1>
        <p class="js-header-subtitle header__info header__info--alt">23, Essex</p>
    </div>
</header>
<main class="content">
    <div class="content-info">
        <h2 class="content__title">About me</h2>
        <p>A <b>Front-end web developer</b> from <b>Essex</b> who specialises working with mainly <b>HTML</b> and <b>CSS</b>. I have been in the web industry for nearly two years now working for a local marketing agency called <a href="http://www.stormcreative.co.uk/" target="_blank" class="content__link">Storm Creative</a> as part of the <a href="http://www.storm-digital.co.uk/" target="_blank" class="content__link">Storm Digital</a> team.</p>
        <p>I studied <b>Bsc(Hons) Mulitmedia, animation and the web</b> at Anglia Ruskin University. Whilst there, I worked on a few web related projects for my degree where I found a passion for developing websites most interesting.</p>
        <p>My other hobbies and interests lie primarily with anything sport related. I play for my local cricket team where I am vice captain, and also produced the club <a href="http://www.islandtavernerscc.co.uk" target="_blank" class="content__link">website</a>.</p>
        <p>This website will be showcasing my skills as a developer and what I have learnt along the way. The best way to develop my skills is to encorporate a blog. The posts will be related to <b>HTML</b>, <b>CSS</b>, <b>Javascript</b> and general web related topics.</p>
    </div>
    <!--
    <hr class="hr hr--grey" />
    <h2 class="content__title">Latest blog posts</h2>
    <div class="blog-posts grid">
        {% for post in site.posts limit:6 %}
        <article class="blog-box grid__third">
            <a href="{{ BASE_PATH }}{{ post.url }}" class="blog-box-link">
                <div class="blog-box-content blog-box-content--{{post.category}}">
                    <h3 class="blog-box__title">{{post.title}}</h3>
                    <p class="blog-box__post">
                        <b class="blog-box__post-date"><time datetime="{{post.date | date: '%d/%m/%Y'}}">{{post.date | date_to_long_string}}</time></b>
                        <b class="blog-box__post-cat">{{post.category}}</b>
                    </p>
                </div>
            </a>
        </article>
        {% endfor %}
        {% if site.posts %}
        <p class="content__btn">
            <a href="{{ BASE_PATH }}/blog.html" class="btn">View all posts</a>
        </p>
        {% endif %}
    </div>
-->
</main>