@import "fonts/fonts";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html, body {
	font-family: 'gandhi_sansregular', Arial;
    margin: 0;
}

.container {
	margin: 0 auto;
	max-width: 48em;
	padding: 1em;
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.3;
	text-transform: uppercase;
}

p {
	font-size: 1.125em;
	line-height: 1.3;
}

b {
	color: #B5985A;
	font-weight: normal;
}

a {
	color: #B5985A;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;

	&:hover,
	&:focus {
		color: darken(#B5985A,15%);
	}
}

.main-header {
	background: #000;
	background-attach: fixed;
	border-bottom: 4px solid #B5985A;
	height: 320px;
	line-height: 320px;
	text-align: center;

	.container {
		display: inline-block;
		vertical-align: middle;
	}
}

.title {
	color: #FFF;
	font-size: 1.75em;
	margin: 0;
	text-align: center;

	b {
		display: block;
	}
}

.main-content {
	text-align: center;
}