/**
	
	CONTENT

---------------*/

.content {
	margin: auto;
	max-width: $container-width;
	padding: 1em;

	@include bp(tablet) {
		padding-bottom: 3em;
	}
}

.content-info {
	text-align: left;
}

.content__title,
.content--posts h2,
.content--posts h3 {
	color: $primary-colour;
	font-family: $title-font;
	font-size: 1.25em;
	font-weight: normal;
	letter-spacing: -0.01rem;
	text-align: left;
	text-transform: uppercase;

	@include bp(tablet) {
		font-size: 24px;
	}
}

.content--posts h3 {
	font-size: 18px;

	@include bp(tablet) {
		font-size: 21px;
	}
}

.content__link,
.content--posts a {
	color: $secondary-colour;

	@include transition(0.3s ease-in-out);

	&:hover {
		color: $font-colour;
	}
}

.content__btn {
	margin: 2em 0 1em;
	text-align: center;
}