/**
	
	HEADER

----------------*/

.header {
	background: $primary-colour;
	padding-bottom: 2em;
	position: relative;
	text-align: center;

	@include bp(tablet) {
		line-height: $header-height;
		padding: $nav-height 0 0;
	}

	&:after {
		background: $secondary-colour;
		content: '';
		height: 4px;
		width: 0;

		/* Positioning */
		position: absolute;
		bottom: 0;
		left: 0;
	}
}

.header--home {
	@include bp(tablet) {
		background: #000 url("#{$image-path}home-header.jpg") 95% 40px no-repeat;
	}
}

.header--grow {
	@include bp(tablet) {
		height: 380px !important;

		@include transition(height 2s);
	}
}

.header--animate {
	&:after {
		width: 100%;

		@include transition(width 2s);
	}
}

.header-content {
	display: inline-block;
	font-family: $header-font;
	line-height: normal;
	max-width: $container-width;
	padding: 1em;
	text-align: left;
	text-transform: uppercase;
	vertical-align: middle;
	width: 100%;
}

.header__title {
	color: #FFF;
	display: inline-block;
	font-size: 2em; // 32px
	font-weight: normal;
	line-height: 1.2;
	vertical-align: middle;

	b {
		color: $secondary-colour;
		display: block;
		font-weight: normal;
	}
}

.header__info {
	color: #FFF;
	font-size: 1.5em; // 24px
	margin: 0;
}

.header__title--alt,
.header__info--alt {
	@include opacity(0);
}