/**
	
	NAVIGATION

-------------------*/

.nav {
	background: $nav-colour;
	margin: 0 auto;
	max-width: $container-width;
	overflow: hidden;
	position: relative;
	z-index: 1;

	@include bp(tablet) {
		background: none;
		overflow: visible;
	}
}

.nav__icon {
	color: $nav_icon-colour;
	display: inline-block;
	float: right;
	font-size: 1.5em;
	margin: 16px;
	text-decoration: none;

	@include bp(tablet) {
		display: none;
	}
}

.nav__icon--active {
	color: $nav_icon-active-colour;
}

.nav-links {
	background: $primary-colour;
	border-bottom: 2px solid $subnav-colour;
	clear: right;
	display: none;
	list-style: none;
	margin: 0;
	padding: 0.25em 0 0.5em;
	width: 100%;

	@include bp(tablet) {
		background: $primary-colour;
		border-bottom: none;
		display: block;
		letter-spacing: -0.32em;
		line-height: $nav-height;
		margin: 0;
		padding: 0 1em;
		text-align: right;

		// Positioning
		position: absolute;
		right: 0;
		top: 0;
	}

	li {
		display: block;
		padding: 0.25em 1em;

		&.active {
			a {
				color: $nav-font-hover-colour;
			}
		}

		@include bp(tablet) {
			border-top: 2px solid transparent;
			display: inline-block;
			letter-spacing: normal;
			margin-left: 1.5em; // 24px
			padding: 0;
			vertical-align: middle;

			&:first-child {
				margin: 0;
			}

			&.active {
				border-top: 2px solid $nav-font-hover-colour;
			}
		}
	}

	a {
		color: $nav-font-colour;
		font-family: $nav-font;
		font-size: 1em;
		letter-spacing: -0.01rem;
		text-transform: uppercase;
		text-decoration: none;

		@include transition(0.3s ease-in-out);

		@include bp(tablet) {
			font-size: 0.875em;
		}

		&:hover {
			color: $nav-font-hover-colour;
		}
	}
}