<!doctype html>
<!--[if IE 7]><html lang="en"><![endif]-->
<!--[if IE 8]><html lang="en"><![endif]-->
<!--[if IE 9]><html lang="en"><![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Alex Shearcroft &ndash; Front-End Web Developer, Essex &ndash; Specialising in HTML and CSS</title>
    <script src="assets/scripts/utils/modernizr.min.js"></script>
    <script src="assets/scripts/jquery.js"></script>
    <meta name="author" content="Alex Shearcroft" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/styles/home.css" media="all" />
</head>
	<body>
		<h1>Alex Shearcroft &ndash; Front-End Web Developer, Essex</h1>
	</body>
</html>
