<!--
{% include JB/setup %}
{% include themes/twitter/page.html %}

<div class="posts">
			{{content}}	
			</div>

-->
<!doctype html>
<!--[if IE 7]><html lang="en"><![endif]-->
<!--[if IE 8]><html lang="en"><![endif]-->
<!--[if IE 9]><html lang="en"><![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Alex Shearcroft</title>
    <script src="assets/scripts/utils/modernizr.min.js"></script>
    <script src="assets/scripts/scripts.js"></script>
    <script src="assets/scripts/jquery.js"></script>
    <meta name="author" content="Alex Shearcroft" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/plain" rel="author" href="humans.txt" />
    <link rel="stylesheet" href="/assets/styles/styles.css" />
</head>
	<body>
		<div class="home_container">
			<div class="posts">
			{{content}}	
			</div>
		</div>
	</body>
</html>